<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <center>
        <h2>
            <a href="/">
                Home Page
            </a>
        </h2>
        <h2>
            {# {{}} {% load static %} #}
            <a href="{% url 'main:contactPage' %}">
                Contact
            </a>
        </h2>
        <h2>
            <a href="/about">
                About
            </a>
        </h2>
    </center>
</body>

</html>