{% extends 'wrapper.html' %}

{% block content %}
    <main class="container">
        <center class="my-5">
            <h2>Hello</h2>
        </center>
        <div class="row">
            <div class="col-3">
                {% include 'components/categories.html' %}
            </div>
            <div class="col-9">
                <div class="p-3 my-5">
                    <ul>
                        {% for category in categories %}
                        <li>{{category.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="p-3 my-5">
                    <ul>
                        {% for product in products %}
                        <li>{{product.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}