{% extends 'base.html' %} {% load static %} {% block content %}
<!--For Page-->
<main class="my-5">
  <div class="container mx-auto">
    <div class="todos p-5 shadow-lg rounded">
      <h2>Todos</h2>
      <div class="card shadow-lg p-3 rounded d-flex justify-content-between">
        <div class="todo-info">
          <h3>todo tiitle</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores
            minima rerum cumque ipsum obcaecati culpa!
          </p>
        </div>
        <div class="todo-action">
            <a href="#" class="btn btn-ouline">

            </a>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
