{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="main" class="container">



<a href="/films?sort=viewed_week" class="h3">Популярные фильмы</a>

<div class="row items">
{% comment %} MOVIES  {% endcomment %}

{% for movie in object_list %}  

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item">
            <a href="{% url 'movie:detail' movie.slug %}">
            <img src="{{movie.poster.url}}" class="img-responsive" loading="lazy" alt="{{movie.title}}" title="{{movie.title}}">
            </a>
            <button class="favorite" data-movie-id="194038" title="Добавить в избранное"></button>
            <div class="info">
                <div class="title">
                    <a href="{% url 'movie:detail' movie.slug %}" class="link" 
                    alt="{{movie.title}}" title="{{movie.title}}">{{movie.title}}</a>
                </div>
                <div class="desc">2022, {{movie.quality}}</div>
            </div>
        </div>
   
{% endfor %}
    {% comment %} ENDMOVIES {% endcomment %}
</div>


{% endblock %}