{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="ad110695"></div>


<div id="main" class="container">


<h3>Вход</h3>

<div class="row">
    <div class="col-sm-6">

        
        <form action="" class="form-horizontal" method="post" role="form">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="username" id="email" maxlength="50" value="" placeholder="Электронная почта">
                </div>
            </div>
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" class="form-control" name="password" id="password" maxlength="100" placeholder="Пароль">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default">Войти</button>
                </div>
            </div>
        </form>
        
        <div class="row">
            <div class="col-sm-12">
                <div style="margin-top:30px;">
                    <p><a href="/recover">Забыли пароль?</a></p>
                    <p><a href="/registration">Зарегистрироваться</a></p>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-4">

        <div class="registration-social-login">
            <a class="btn-own btn-vk" href="javascript:void(0);" onclick="ulogin.vkontakte('https://kinobase.org/ulogin');"><span class="icon-vkontakte"></span>  Войти через Вконтакте</a>
            <a class="btn-own btn-ok" href="javascript:void(0);" onclick="ulogin.odnoklassniki('https://kinobase.org/ulogin');"><span class="icon-odnoklassniki"></span>  Войти через Одноклассники</a>
        </div>

    </div>
</div>

{% endblock %}