{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Movie</title>
</head>

<body>
    <header>
        <nav class="orange darken-2 my-container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Movie</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">

                    <li>
                        <a class="waves-effect waves-light modal-trigger" href="#search">
                            <i class="material-icons">search</i>
                        </a>
                    </li>
                    <li><a href="#">Contact</a></li>


                </ul>

            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li>
                <a class="waves-effect waves-light modal-trigger" href="#search">
                    <i class="material-icons">search</i> Search
                </a>
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>
    <!-- Modal Structure -->
    <div id="search" class="modal">
        <div class="modal-content">
            <h4>Search movie</h4>

            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" placeholder="Write something.." required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    {% block content %} {% endblock %}

    <footer class="page-footer orange darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Movie</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © {% now "Y" %} Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>

</html>