<div class="col s12 m3 l3">


    <div class="z-depth-3 ">
        <h4 class="title center-align">
            Categories
        </h4>
        <div class="collection">
            {% for category in categories%}
            <a href="{% url 'main:category_list' category.slug %}" class="collection-item">
                <span class="badge" data-badge-caption="movie">{{category.movies.all.count}}</span><b>{{category.name}}</b>
            </a> {% endfor %}

        </div>

    </div>
    <br>
    <div class="z-depth-3 ">
        <h4 class="title center-align">
            Genres
        </h4>
        <div class="collection">
            {% for genre in genres%}
            <a href="{% url 'main:genre_list' genre.slug %}" class="collection-item">
                <span class="badge" data-badge-caption="films">{{genre.movies.all.count}}</span>
                <b>{{genre.name}}</b>
            </a> {% endfor %}
        </div>

    </div>

</div>