{% extends 'base.html' %} {% load static %} {% block content %}
<main>
    <div class="container mt-3 mb-5 p-2">

        <div class="post mt-3">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <figure class="figure">
                        <img src="{{post.poster.url}}" class="figure-img img-fluid rounded" alt="None">
                    </figure>
                    <h5>Post Rating</h5>
                    <div class="ratings">

                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <br>

                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="h2">{{post.title}}</div>

                    <p>{{post.body}}</p>


                </div>
            </div>
        </div>

    </div>
</main>
{% endblock%}