<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDesignBlog</title>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'blog:home' %}">WebDesignBlog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Categories
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                {% for category in categories %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'blog:category_list' category.slug %}">
                                        {{category.name}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">{{category.name}}</a>
                        </li>



                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %} {% endblock%}
    <footer class="footer mt-auto py-3 text-danger bg-info">
        <div class="container">
            <span class="text-white">
                    <span class="h5 text-danger">WebDesignBlog</span> 2022 all right reserved</span>
        </div>
    </footer>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>