<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Blog - Kanop.</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7cRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cOpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7cPoppins:300,400,500,600,700%7cKhand:300,400,500,600,700%7cMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cPT+Sans:400,400i,700,700i" rel="stylesheet">
	
	<!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet">

	<!-- Custom - Common CSS -->
	<link rel="stylesheet" href="assets/css/rtl.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->
		
	<!-- Header Section -->
	<header class="container-fluid header_s header-fix">
		<nav class="navbar ownavigation navbar-expand-lg">
			<a class="image-logo" href="index.html"><img src="assets/images/logo.png" alt="Logo" /></a>
			<!-- a class="navbar-brand" href="index.html">kanop.</a-->
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav">
					<li class="dropdown">
						<i class="ddl-switch fa fa-angle-down"></i>
						<a class="nav-link dropdown-toggle" title="Home" href="index.html">Home</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="index-2.html" title="Home 2">Home 2</a></li>
							<li><a class="dropdown-item" href="index-3.html" title="Home 3">Home 3</a></li>
							<li><a class="dropdown-item" href="index-4.html" title="Home 4">Home 4</a></li>
							<li><a class="dropdown-item" href="index-5.html" title="Home 5">Home 5</a></li>
							<li><a class="dropdown-item" href="index-6.html" title="Home 6">Home 6</a></li>
							<li><a class="dropdown-item" href="blog-home.html" title="Blog Home">Blog Home</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<i class="ddl-switch fa fa-angle-down"></i>
						<a class="nav-link dropdown-toggle" title="About" href="#">About</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="about.html" title="About Us">About Us</a></li>
							<li><a class="dropdown-item" href="aboutme.html" title="About Me">About Me</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<i class="ddl-switch fa fa-angle-down"></i>
						<a class="nav-link dropdown-toggle" title="Work" href="single-work.html">Work</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="single-work-full.html" title="Work Full">work Full</a></li>
						</ul>
					</li>
					<li><a class="nav-link" title="Services" href="services.html">Services</a></li>
					<li class="active dropdown">
						<i class="ddl-switch fa fa-angle-down"></i>
						<a class="nav-link dropdown-toggle" title="Home" href="#">Pages</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" title="Blog" href="blog.html">Blog</a></li>
							<li><a class="dropdown-item" href="single-post.html" title="Single Post">Single Post</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<i class="ddl-switch fa fa-angle-down"></i>
						<a class="nav-link dropdown-toggle" title="Shop" href="shop.html">Shop</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="shop-detail.html" title="Shop Detail">Shop Detail</a></li>
							<li><a class="dropdown-item" href="cart.html" title="Cart">Cart</a></li>
							<li><a class="dropdown-item" href="checkout.html" title="Checkout">Checkout</a></li>
						</ul>
					</li>
					<li><a class="nav-link" title="Contact" href="contact-us.html">Contact</a></li>
				</ul>
			</div>
		</nav>
	</header><!-- Header Section /- -->

	<div class="main-container">
	
		<!-- Page Banner -->
		<div class="container-fluid no-left-padding no-right-padding page-banner">
			<!-- Container -->
			<div class="container">
				<h3>Blog</h3>
				<nav class="breadcrumb">
					<a class="breadcrumb-item" href="index.html">Home</a>
					<span class="breadcrumb-item active">Blog</span>
				</nav>
			</div><!-- Container -->
		</div>
	
		<main class="site-main">

			<!-- Blog Listing -->
			<div class="container-fluid no-left-padding no-right-padding blog-list">
				<div class="container">
					<div class="row">
						<!-- Content Area -->
						<div class="content-area col-lg-9 col-md-7">
							<!-- Blog Post -->
							<div class="blog-post">
								<div class="post-cover">
									<a href="single-post.html"><img src="assets/images/blog-list-1.jpg" alt="Blog Post" /></a>
									<div class="post-date">
										<a href="#"><b>28</b> Jun</a>
									</div>
								</div>
								<div class="entry-content">
									<h3><a href="single-post.html">feugiat eu ea velit nobis corporis mattis distinctio</a></h3>
									<div class="post-meta">
										<span class="byline">by <a href="#">John deo</a></span>
										<span class="post-like"><i class="fa fa-heart-o"></i> <a href="#" title="">11 likes</a></span>
										<span class="post-comments"><i class="fa fa-commenting-o"></i> <a href="#" title="">32 comments</a></span>
									</div>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
									<a class="read-more" href="single-post.html" title="Read More">Read More</a>
									<a class="social" href="#" title="Social"><i class="fa fa-share-alt"></i></a>
								</div>
							</div><!-- Blog Post /- -->
							
							<!-- Blog Post -->
							<div class="blog-post">
								<div class="post-cover">
									<div id="post-carousel" class="carousel slide" data-ride="carousel">
										<div class="carousel-inner">
											<div class="carousel-item active">
												<img class="d-block w-100" src="assets/images/blog-list-2.jpg" alt="Blog Post" />
											</div>
											<div class="carousel-item">
												<img class="d-block w-100" src="assets/images/blog-list-2.jpg" alt="Blog Post" />
											</div>
										</div>
										<a class="carousel-control-prev" href="#post-carousel" role="button" data-slide="prev">
											<span class="fa fa-angle-left" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="carousel-control-next" href="#post-carousel" role="button" data-slide="next">
											<span class="fa fa-angle-right" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>
									<div class="post-date">
										<a href="#"><b>28</b> Jun</a>
									</div>
								</div>
								<div class="entry-content">
									<h3><a href="single-post.html">feugiat eu ea velit nobis corporis mattis distinctio</a></h3>
									<div class="post-meta">
										<span class="byline">by <a href="#">John deo</a></span>
										<span class="post-like"><i class="fa fa-heart-o"></i> <a href="#" title="">11 likes</a></span>
										<span class="post-comments"><i class="fa fa-commenting-o"></i> <a href="#" title="">32 comments</a></span>
									</div>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
									<a class="read-more" href="single-post.html" title="Read More">Read More</a>
									<a class="social" href="#" title="Social"><i class="fa fa-share-alt"></i></a>
								</div>
							</div><!-- Blog Post /- -->
							
							<!-- Blog Post -->
							<div class="blog-post">
								<div class="post-cover">
									<div id="post-carousel-2" class="carousel slide" data-ride="carousel">
										<div class="carousel-inner">
											<div class="carousel-item active">
												<img class="d-block w-100" src="assets/images/blog-list-3.jpg" alt="Blog Post" />
											</div>
											<div class="carousel-item">
												<img class="d-block w-100" src="assets/images/blog-list-3.jpg" alt="Blog Post" />
											</div>
										</div>
										<a class="carousel-control-prev" href="#post-carousel-2" role="button" data-slide="prev">
											<span class="fa fa-angle-left" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="carousel-control-next" href="#post-carousel-2" role="button" data-slide="next">
											<span class="fa fa-angle-right" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>
									<div class="post-date">
										<a href="#"><b>28</b> Jun</a>
									</div>
								</div>
								<div class="entry-content">
									<h3><a href="single-post.html">feugiat eu ea velit nobis corporis mattis distinctio</a></h3>
									<div class="post-meta">
										<span class="byline">by <a href="#">John deo</a></span>
										<span class="post-like"><i class="fa fa-heart-o"></i> <a href="#" title="">11 likes</a></span>
										<span class="post-comments"><i class="fa fa-commenting-o"></i> <a href="#" title="">32 comments</a></span>
									</div>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
									<a class="read-more" href="single-post.html" title="Read More">Read More</a>
									<a class="social" href="#" title="Social"><i class="fa fa-share-alt"></i></a>
								</div>
							</div><!-- Blog Post /- -->
							
							<!-- Blog Post -->
							<div class="blog-post">
								<div class="post-cover">
									<div id="post-carousel-3" class="carousel slide" data-ride="carousel">
										<div class="carousel-inner">
											<div class="carousel-item active">
												<img class="d-block w-100" src="assets/images/blog-list-4.jpg" alt="Blog Post" />
											</div>
											<div class="carousel-item">
												<img class="d-block w-100" src="assets/images/blog-list-4.jpg" alt="Blog Post" />
											</div>
										</div>
										<a class="carousel-control-prev" href="#post-carousel-3" role="button" data-slide="prev">
											<span class="fa fa-angle-left" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="carousel-control-next" href="#post-carousel-3" role="button" data-slide="next">
											<span class="fa fa-angle-right" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>
									<div class="post-date">
										<a href="#"><b>28</b> Jun</a>
									</div>
								</div>
								<div class="entry-content">
									<h3><a href="single-post.html">feugiat eu ea velit nobis corporis mattis distinctio</a></h3>
									<div class="post-meta">
										<span class="byline">by <a href="#">John deo</a></span>
										<span class="post-like"><i class="fa fa-heart-o"></i> <a href="#" title="">11 likes</a></span>
										<span class="post-comments"><i class="fa fa-commenting-o"></i> <a href="#" title="">32 comments</a></span>
									</div>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
									<a class="read-more" href="single-post.html" title="Read More">Read More</a>
									<a class="social" href="#" title="Social"><i class="fa fa-share-alt"></i></a>
								</div>
							</div><!-- Blog Post /- -->
							<nav class="navigation pagination">
								<h2 class="screen-reader-text">Posts navigation</h2>
								<div class="nav-links">
									<a class="prev page-numbers" href="#">Previous</a>
									<a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>1</a>
									<span class="page-numbers current">
										<span class="meta-nav screen-reader-text">Page </span>2
									</span>
									<a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>3</a>
									<a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>4</a>
									<a class="next page-numbers" href="#">Next <i class="fa fa-angle-double-right"></i></a>
								</div>
							</nav>
						</div><!-- Content Area /- -->
						<!-- Widget Area -->
						<div class="col-lg-3 col-md-5 widget-area">
							<!-- Widget : Categories -->
							<aside id="categories" class="widget widget_categories">
								<h3 class="widget-title">Categories</h3>
								<ul>
									<li class="cat-item"><a href="#">Photography</a> (10) </li>
									<li class="cat-item"><a href="#">Design</a>  (03) </li>									
									<li class="cat-item"><a href="#">music</a>  (12) </li>									
									<li class="cat-item"><a href="#">fashion</a>  (05) </li>									
									<li class="cat-item"><a href="#">photoshop</a>  (02) </li>									
									<li class="cat-item"><a href="#">articles</a>  (19) </li>									
									<li class="cat-item"><a href="#">video</a>  (08) </li>									
								</ul>
							</aside><!-- Widget : Categories /- -->
							<!-- Widget : Latest Post -->
							<aside class="widget widget_latestposts">
								<h3 class="widget-title">Recent Posts</h3>
								<div class="latest-content">
									<a href="#" title="Recent Posts"><i><img src="assets/images/rcnt-post-1.jpg" class="wp-post-image" alt="blog-1" /></i></a>
									<h5><a title="Were gonna pay a call a boldly go where no" href="#">Were gonna pay a call a boldly go where no</a></h5>
									<span><a href="#">Jun 18, 2015</a></span>
								</div>
								<div class="latest-content">
									<a href="#" title="Recent Posts"><i><img src="assets/images/rcnt-post-2.jpg" class="wp-post-image" alt="blog-1" /></i></a>
									<h5><a title="So lets make the most is  beautiful day" href="#">So lets make the most is  beautiful day</a></h5>
									<span><a href="#">Jun 17, 2015</a></span>
								</div>
								<div class="latest-content">
									<a href="#" title="Recent Posts"><i><img src="assets/images/rcnt-post-3.jpg" class="wp-post-image" alt="blog-1" /></i></a>
									<h5><a title="We're gona make dreams comes true " href="#">We're gona make dreams comes true</a></h5>
									<span><a href="#">Jun 15, 2015</a></span>									
								</div>
								<div class="latest-content">
									<a href="#" title="Recent Posts"><i><img src="assets/images/rcnt-post-4.jpg" class="wp-post-image" alt="blog-1" /></i></a>
									<h5><a title="New life civilizations to boldly go where no" href="#">New life civilizations to boldly go where no</a></h5>
									<span><a href="#">Jun 15, 2015</a></span>									
								</div>
							</aside><!-- Widget : Latest Post /- -->
							<!-- Widget: Archives -->
							<aside id="archives" class="widget widget_archive">
								<h3 class="widget-title">Archives</h3>
								<ul>
									<li><a href="#">February 2015</a> (10)</li>
									<li><a href="#">March 2015</a> (03)</li>
									<li><a href="#">April 2015</a> (12)</li>
									<li><a href="#">MAY 2015</a> (05)</li>
								</ul>
							</aside><!-- Widget: Archives /- -->
							<!-- Widget: Tag Cloud -->
							<aside id="tag_cloud" class="widget widget_tag_cloud">
								<h3 class="widget-title">Tags</h3>
								<div class="tagcloud">
									<a href="#" title="Amazing">Amazing</a>
									<a href="#" title="Envato">Envato</a>
									<a href="#" title="Themes">Themes</a>
									<a href="#" title="Clean">Clean</a>
									<a href="#" title="Responsiveness">Responsiveness</a>
									<a href="#" title="SEO">SEO</a>
									<a href="#" title="Mobile">Mobile</a>
									<a href="#" title="IOS">IOS</a>
									<a href="#" title="Flat">Flat</a>
									<a href="#" title="Design">Design</a>
								</div>
							</aside><!-- Widget: Tag Cloud /- -->
						</div><!-- Widget Area /- -->
					</div>
				</div>
			</div><!-- Blog Listing /- -->
			
		</main>
		
	</div>
	
	<!-- Footer Section -->
	<div class="container-fluid no-left-padding no-right-padding footer-main">		
		<!-- Footer Widget -->
		<div class="container-fluid footer-widget">
			<!-- Row -->
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
					<!-- Widget : About -->
					<aside class="widget widget_about">
						<a href="#">kanop.</a>
						<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,</p>
						<p>lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit uis sed odio sit amet nibh vulputate</p>
					</aside><!-- Widget : About /- -->
				</div>
				<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
					<!-- Widget : Recent Post -->
					<aside id="recent-posts" class="widget widget_recent_entries">
						<h3 class="widget-title">Recent Posts</h3>
						<ul>
							<li>
								<a href="#">Amazon has no problem hiring in UK despite Brexit</a>
							</li>
							<li>
								<a href="#">Paytm teams up with AGTech Media to set up a gaming company</a>
							</li>
							<li>
								<a href="#">Moto Z2 Force smartphone with shatterproof display to launch today</a>
							</li>
							<li>
								<a href="#">Telcos citing Trai affidavit on network charge twists facts, claims COAI</a>
							</li>
						</ul>
					</aside><!-- Widget : Recent Post /- -->
				</div>
				<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
					<!-- Widget : Instagram -->
					<aside class="widget widget_instagram">
						<h3 class="widget-title">Instagram</h3>
						<ul>
							<li><a href="#"><img src="assets/images/wid-insta1.png" alt="Instagram" /></a></li>
							<li><a href="#"><img src="assets/images/wid-insta2.png" alt="Instagram" /></a></li>
							<li><a href="#"><img src="assets/images/wid-insta3.png" alt="Instagram" /></a></li>
							<li><a href="#"><img src="assets/images/wid-insta4.png" alt="Instagram" /></a></li>
							<li><a href="#"><img src="assets/images/wid-insta5.png" alt="Instagram" /></a></li>
							<li><a href="#"><img src="assets/images/wid-insta6.png" alt="Instagram" /></a></li>
							<li><a href="#"><img src="assets/images/wid-insta7.png" alt="Instagram" /></a></li>
							<li><a href="#"><img src="assets/images/wid-insta8.png" alt="Instagram" /></a></li>
							<li><a href="#"><img src="assets/images/wid-insta9.png" alt="Instagram" /></a></li>
							<li><a href="#"><img src="assets/images/wid-insta10.png" alt="Instagram" /></a></li>
							<li><a href="#"><img src="assets/images/wid-insta11.png" alt="Instagram" /></a></li>
							<li><a href="#"><img src="assets/images/wid-insta12.png" alt="Instagram" /></a></li>
						</ul>
					</aside><!-- Widget : Instagram /- -->
				</div>
				<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
					<!-- Widget : Contact Info -->
					<aside class="widget widget_contact_info">
						<h3 class="widget-title">Contact info</h3>
						<div class="contact-info">
							<p><i class="fa fa-phone"></i> <a href="tel:99475479000123">9947 5479 000 123</a></p>
							<p><i class="fa fa-envelope"></i> <a href="mailto:info@yourdomain.com">info@yourdomain.com</a></p>
							<p><i class="fa fa-map-marker"></i> Lorem Ipsum Street, Mitrovice, Kosovo</p>
						</div>
					</aside><!-- Widget : Contact Info /- -->
				</div>
			</div><!-- Row /- -->
		</div><!-- Footer Widget /- -->
		<!-- Copyright Block -->
		<div class="container-fluid copyright-block">
			<div class="row">
				<div class="col-lg-5 col-12 copyright">
					<p>&copy; 2017 All rights reserved</p>
				</div>
				<div class="col-lg-5 col-12 order-lg-12 copyright-social">
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-12 order-lg-1 scroll-navigation">
					<a id="back-to-top" href="#"><i class="fa fa-angle-up"></i></a>
				</div>
			</div>
		</div><!-- Copyright Block -->
	</div><!-- Footer Section /- -->
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/lib.js"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>