{% extends 'base.html' %} {% load static %}{% block content%}
<div class="main-container">

  <main class="site-main">

    <!-- Welcome Text -->
    <div class="container-fluid no-left-padding no-right-padding welcome-text">
      <!-- Container -->
      <div class="container">
        <h2>Welcome to my <b>Blog</b> The latest Webdesign inspirations</h2>
      </div>
      <!-- Container /- -->
    </div>
    <!-- Welcome Text -->

    <!-- Blog Listing -->
    <div class="container-fluid blog-list blog-home">
      <div class="row">
        <!-- Content Area -->
        <div class="content-area col-12">
          <div class="row">
            {% for post in posts %}
            <!-- Blog Post -->
            <div class="col-lg-4 col-md-6">
              <div class="blog-post">
                <div class="post-cover">
                  <a href="single-post.html">
                    <img src="{{post.poster.url}}" alt="Blog Post" /></a>
                  <div class="post-date">
                    <a href="#">
                      <b>{{post.published|date:"d"}}</b> {{post.published|date:"M"}}
                    </a>
                  </div>
                </div>
                <div class="entry-content">
                  <h3><a href="single-post.html">
                      {{post.title}}
                    </a></h3>
                  <div class="post-meta">
                    <span class="byline">by <a href="#">{{post.author}}</a></span>
                    <span class="post-like">
                      <i class="fa fa-heart-o"></i>
                      <a href="#" title="">{{post.likes}} likes</a>
                    </span>
                    <span class="post-comments">
                      <i class="fa fa-commenting-o"></i>
                      <a href="#" title="">{{post.comments}} comments</a>
                    </span>
                  </div>
                  <p>
                    {{post.description|truncatewords:"15"}}
                  </p>
                  <a class="read-more" href="single-post.html" title="Read More">Read More</a>
                  <a class="social" href="#" title="Social"><i class="fa fa-share-alt"></i></a>
                </div>
              </div>
            </div>
            <!-- Blog Post /- -->
            {% endfor %}
          </div>
          <nav class="navigation pagination">
            <h2 class="screen-reader-text">Posts navigation</h2>
            <div class="nav-links">
              <a class="prev page-numbers" href="#">Previous</a>
              <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>1</a>
              <span class="page-numbers current">
                <span class="meta-nav screen-reader-text">Page </span>2
              </span>
              <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>3</a>
              <a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>4</a>
              <a class="next page-numbers" href="#">Next <i class="fa fa-angle-double-right"></i></a>
            </div>
          </nav>
        </div>
        <!-- Content Area /- -->
      </div>
    </div>
    <!-- Blog Listing /- -->

  </main>

</div>

{% endblock %}