 {% extends 'base.html' %} {% load static %}{% block content %}
<main>
    <div class="container mt-3 mb-5 p-2">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div class="text-left">
                    <div class="display-5">
                        WebDesignBlog
                    </div>
                    <p class="h5 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ullam omnis aut vero a. Maiores?</p>
                    <div class="mt-5">
                        <a href="#" class="btn btn-info">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <figure class="figure">
                    <img src="/static/src/web-design.png" class="figure-img img-fluid rounded" alt="None">
                </figure>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div class="container mt-3 mb-5 p-2">
                    {% for post in object_list %}
                    <div class="post mt-3">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <figure class="figure">
                                    <img src="{{post.poster.url}}" class="figure-img img-fluid rounded" alt="None">
                                </figure>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <div class="h2">{{post.title}}</div>

                                <p>{{post.body|truncatewords:'15'}}</p>

                                <div class="ratings">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <br>
                                <a href="{% url 'blog:detail' post.slug %}" class="btn btn-success">
                                Read More
                            </a>
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="card p-2">
                    <form action="#" onkeyup="inlineSearch(this.elements[0].value)" class="mb-2">
                        <input type="search" class="form-control" placeholder="Write something..">
                    </form>
                    <ul class="list-group" id="responseList">

                        {% for p in object_list|slice:"3" %}
                        <li class="list-group-item">
                            <a href="#">{{p.title}}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        function inlineSearch(query) {
            let data = JSON.stringify(query)
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    let res = JSON.parse(this.responseText)
                    console.dir(res)
                    let list = document.querySelector("#responseList")
                    let elem = "<span>"
                    for (let i = 0; i < res.object_list.length; i++) {
                        let li = `
                        <li class="list-group-item">
                            <a href="/detail/${res.object_list[i].slug}">${res.object_list[i].title}</a>
                        </li>
                            `
                        elem += li
                    }
                    elem += '</span>'

                    list.innerHTML = elem



                } else {
                    console.log("error")
                }
            };
            let url = "/search/"
            xhttp.open("GET", url + `?data=${data}`, true);
            xhttp.send();

        }
    </script>
</main> {% endblock%}