{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section has-background-link-light" id="ban">

</section>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Django Blog Posts
      </h1>
    <div class="columns">
        {% for post in posts|slice:"3" %}
            <div class="column">
                <div class="card">
                      <div class="card-image">
                          <a href="{{ post.get_absolute_url }}">
                            <figure class="image is-4by3">
                              <img src="{{ post.image.url }}" alt="{{ post.title }}">
                            </figure>
                          </a>
                      </div>
                      <div class="card-content">
                        <div class="content">
                            <p class="title">{{ post.title }}</p>
                            {{ post.description | truncatewords:"10"}} <a>@bulmaio</a>.
                          <a href="#">#css</a> <a href="#">#responsive</a>
                          <br>
                          <time>{{ post.published}}</time>
                        </div>
                      </div>
                    </div>
            </div>
         {% endfor %}

    </div>
    </div>
  <div class="container has-text-centered">
      <h1 class="is-size-2">Tags</h1>
      <div class="tags has-text-centered" id="tags">
           {% for tag in tags %}
            <button class="button is-link m-2">{{ tag.name }}</button>
           {% endfor %}
      </div>
  </div>

  </section>

  {% endblock %}
