<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DB project</title>
</head>
<body>

<div style="background-color:orange; padding:20px;">
    <center>
        <form action="" method="POST" id="form">
            {% csrf_token %}
            <input type="text" name="myValue">
            <button type="submit">Create</button>
        </form>
    </center>
    <center>
        <h3>{{one}}</h3>
    </center>
    <ul>
        {% for m in withFilter %}
            <li>Nomi :{{m.name}} ID: {{m.id}}</li>
        {% endfor %}
    </ul>
    <ul>
        <li>Student name :{{students.name}}</li>
    </ul>
    <ul>
        <li>Room : {{rooms.number}}</li>
    </ul>
    <ul>
        {% for teach in teachers %}
        <li>{{teach.name}}</li>
        {% endfor %}
    </ul>
</div>
<script>
    document.body.onload = function(){
        document.getElementById("form").reset();
    }
</script>
</body>
</html>