{% extends 'base.html' %} {% load static %} 
{% block content %}
<main>
    <section class="my-3">
        <div class="container mx-auto">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card p-3 shadow">
                        <h3>You logged out , please come back <a href="{% url 'accounts:login' %}">now</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}